<div class="row">
    <div class="col-sm-3">
        <a routerLink="/waf-audit/policies">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    WAF Policy Audit
                </div>
                <div class="card-body">
                    <p>Get a list of WAF policies for a given namespace.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a routerLink="//waf-audit/namespace">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Load Balancer WAF Audit
                </div>
                <div class="card-body">
                    <p>Check to see if the load balancers in a namespace have the specified WAF policy applied.</p>
                </div>
            </div>
        </a>
    </div>
</div>