<div class="row">
  <div class="col-sm-3">
    <a routerLink="/waf-audit">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          WAF Audit
        </div>
        <div class="card-body">
          <p>Audit existing WAF Policy items.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-3">
    <a routerLink="/lb-audit">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Load Balancer Audit
        </div>
        <div class="card-body">
          <p>Audit existing Load Balancer items.</p>
        </div>
      </div>
    </a>
  </div>
</div>
